{% extends "bootstrap/base.html" %}

{% block navbar %}
<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <span class="navbar-brand">Bookshelf</span>
        <ul class="nav navbar-nav">
            <li><a href="{{ url_for("overview") }}">All Topics</a></li>
            {% if user %}
            <li><a href="{{ url_for("add_book") }}">Add Book</a></li>
            {% endif %}
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {% if user %}
                <li><a href="{{ url_for("logout") }}">Logout</a></li>
            {% else %}
                <li><a href="{{ url_for("login") }}">Login</a></li>
            {% endif %}
        </ul>

    </div>
</nav>
{% endblock %}

{% block content %}
<div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
          {% for category, message in messages %}
              <div class="alert alert-{{ category }} alert-dismissible" role="alert">
                  <button type="button" class="close" data-dismiss="alert"
                          aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
                  <strong>Hey!</strong> {{ message }}
              </div>
        {% endfor %}
      {% endif %}
    {% endwith %}


    {% block page_content %}{% endblock %}
</div>
{% endblock %}
